/* Inicio de cabecera */
body {
    margin: 0px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

.header-texto {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding: 10px;
}

header img {
    display: flex;
    align-items: start;
    max-width: 70px;
    margin-left: 15px;
    margin-right: 15px;

}

.header-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.header-logo img {
    display: flex;
    max-width: 65px;
    margin: 0px;
    padding: 0px;
}

.header-logo a {
    margin: 0px;
}

.header-desplegable-3 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    float: left;
    overflow: hidden;
    margin-right: 80px;
}

.header-desplegable-3 a {
    text-decoration: none;
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    /*margin: 0;  Important for vertical align on mobile phones */
}

.header-desplegable-3:hover {
    background-color: red;
}

.header-desplegable-3:hover .header-dp-content-3 {
    display: block;
}

.header-desplegable-1 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    float: left;
    overflow: hidden;
    margin-right: 80px;
}

.header-desplegable-1 .despbtn-1 {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    /*margin: 0;  Important for vertical align on mobile phones */
}

.header-desplegable-1:hover .despbtn-1 {
    background-color: red;
}

.header-dp-content-1 {
    display: none;
    position: absolute;
    transform: translate(-15%, 40%);
    background-color: white;
    font-size: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-dp-content-1 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header-dp-content-1 a:hover {
    background-color: gray;
}

.header-desplegable-1:hover .header-dp-content-1 {
    display: block;
}

.header-desplegable-2 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    float: left;
    overflow: hidden;
    margin-left: 80px;
}

.header-desplegable-2 .despbtn-2 {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.header-desplegable-2:hover .despbtn-2 {
    background-color: red;
}

.header-dp-content-2 {
    display: none;
    position: absolute;
    transform: translate(-10%, 60%);
    background-color: white;
    font-size: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-dp-content-2 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header-dp-content-2 a:hover {
    background-color: gray;
}

.header-desplegable-2:hover .header-dp-content-2 {
    display: block;
}

.header-desplegable-4 {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    color: white;
    float: left;
    overflow: hidden;
    margin-left: 80px;
}

.header-desplegable-4 .despbtn-4 {
    font-size: 25px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    /* Important for vertical align on mobile phones */
    margin: 0;
    /* Important for vertical align on mobile phones */
}

.header-desplegable-4:hover .despbtn-4 {
    background-color: red;
}

.header-dp-content-4 {
    display: none;
    position: absolute;
    transform: translate(-5%, 60%);
    background-color: white;
    font-size: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-dp-content-4 a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.header-dp-content-4 a:hover {
    background-color: gray;
}

.header-desplegable-4:hover .header-dp-content-4 {
    display: block;
}

.Carrito {
    display: none;
    background-color: white;
    padding-top: 7px;
    padding-bottom: 25px;
    padding-left: 10px;
    padding-right: 5px;
    position: absolute;
    right: 0;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 20px;
}

.Carrito thead {
    display: block;
    padding-bottom: 0px;
}

.Carrito th {
    padding-right: 20px;
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 13px;
}

#Imagen {
    padding-right: 30px;
}

#Nombre {
    padding-left: 5px;
    padding-right: 30px;
}

#vaciar-carrito {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: white;
    color: rgb(111 111 111);
    padding-top: 6px;
    padding-bottom: 5px;
    border-radius: 5px;
    border-color: rgb(0, 0, 0);
    border: darkgray 1px solid;
    font-size: 15px;
}

.Carrito tbody {
    display: block;
    margin-bottom: 10px;
}

.Carrito tbody td {
    max-width: 75px;
    padding-bottom: 5px;
    padding-right: 5px;

}

.Carrito tbody td img {
    max-width: 65px;
    padding-right: 10px;
}

.Carrito tbody tr::after {
    content: "";
    border: 0px solid red;
}

.header-img2:hover .Carrito {
    display: block;
}

.borrar-curso {
    background-color: red;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 37px;
}

/* Fin de cabecera */

.container {
    background-image: url(./img/Default_cocinero_con_uniforme_negro_sobre_fondo_negro_1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-2 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1600px;
    background-color: rgba(0, 0, 0, 0.527);
}

/* Inicio WWU */
.WWU1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.WWU1 img {
    width: 29%;
}

.textWWU {
    color: white;
    font-size: larger;
    width: 60%;
    line-height: 1.5;
    text-align: justify;
}

.WWU2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-bottom: 5%;
    padding-right: 5%;
    margin-right: 5%;
}

.WWU2 form {
    max-width: 45%;
}

.texFormulario {
    color: white;
    font-size: larger;
    width: 50%;
}

.texFormulario p {
    line-height: 1.5;
    text-align: justify;
}

.formu {
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.txreq {
    font-size: 120%;
    font-weight: bold;
}

.formu input[type="text"],
.formu input[type="tel"],
.formu input[type="email"] {
    width: 140%;
    padding: 8%;
    margin-bottom: 15%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
}


.formu input[type="submit"] {
    background-color: #e4e4e4;
    color: rgb(24, 24, 24);
    padding: 8%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 140%;
}

.formu input[type="submit"]:hover {
    background-color: #b8b8b8;
}

.containerCV {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10%;
    width: 140%;
    height: 80%;
}

.inputCV {
    width: 1%;
    height: 1%;
    opacity: 0;
    overflow: hidden;
}

.inputCV+label {
    font-size: 1.25%;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5%;
    border-radius: 5px;
}

.textBotonCV {
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lato';
}

.inputCV+label {
    color: #ebebeb;
    border: 2px solid currentColor;
    width: 200%;
    text-align: center;
    background-color: #242424;
}

.inputCV:focus+label,
.inputCV.has-focus+label,
.inputCV+label:hover {
    color: #8a8a8a;
}

/* Final WWU */
/* Inicio Footer */

footer {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.885);
    font-family: Arial, Helvetica, sans-serif;
}

.footer-texto1 {
    display: flex;
    color: white;
    padding-left: 10px;
}

.footer-texto1 p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.footer-texto1 p::after {
    content: "/";
    margin-left: 5px;
    margin-right: 5px;
}

.footer-texto2 a {
    text-decoration: none;
    color: white;
}

.footer-texto2 a::after {
    content: "/";
}

.footer-RRSS {
    display: flex;
    filter: invert(1);
}

.footer-RRSS img {
    max-width: 40px;
    padding: 10px;
}

/* Final Footer */


/* ------------------------- RESPONSIVE ------------------------- */

/* Header */

@media only screen and (max-width: 450px) {
    header {
        flex-direction: row;
    }

    .header-texto {
        flex-direction: column;
    }

    .header-logo {
        padding-bottom: 10px;
        min-width: 199px;
    }

    .header-img1 {
        margin-right: 10px;
    }

    .header-img2 {
        margin-left: 0px;
        margin-right: 20px;
    }

    .header-desplegable-1 {
        margin-right: 0px;
    }

    .header-dp-content-1 {
        transform: translate(74%, -13%);
    }

    .header-dp-content-1 a {
        padding-left: 10px;
    }

    .header-desplegable-2 {
        margin-left: 0px;
    }

    .header-desplegable-3 {
        margin-right: 0px;
    }

    .header-dp-content-3 {
        transform: translate(59%, -10%);
    }

    .header-desplegable-4 {
        margin-left: 0px;
    }

    .Carrito {
        right: 30px;
        top: 240px;
    }
}

/* Fin Header */

/* Work with us */

@media only screen and (max-width: 450px) {
    .WWU1 {
        flex-direction: column-reverse;
    }

    .textWWU {
        width: 92%;
    }

    .WWU1 img {
        width: 65%;
    }

    .WWU2 {
        flex-direction: column;
    }

    .texFormulario {
        width: 85%;
    }

    .formu {
        margin-bottom: 5px;
    }

    .WWU2 form {
        margin-right: 75px;
    }
}

/* Fin Work with us */

/* Footer */

@media only screen and (max-width: 450px) {
    footer {
        flex-direction: column;
    }

    .footer-texto1 {
        padding-bottom: 15px;
    }

    .footer-RRSS {
        padding-top: 10px;
    }
}

/* Fin Footer */